* {
	box-sizing: border-box;
}

:root {
	--background: #18131b;
	--foreground: rgba(255, 255, 255, 0.9);
	--border-color: rgba(255, 255, 255, 0.1);
	--ghost: rgba(255, 255, 255, 0.03);
	--muted-color: rgba(255, 255, 255, 0.3);

	--spacer-lg: 2rem;

	@media screen and (min-width: 800px) {
		--spacer-lg: 2.5rem;
	}
}

::selection {
	background-color: var(--foreground);
	color: var(--background);
}

body {
	margin: 0;
	font-family: 'Space Grotesk', sans-serif;
	font-optical-sizing: auto;
	background-color: var(--background);
	color: var(--foreground);
	font-weight: 300;
}

body.darkslateblue {
	--background: darkslateblue;
}
body.midnightblue {
	--background: midnightblue;
}
body.darkslategray {
	--background: darkslategray;
}
body.dimgray {
	--background: dimgray;
}
body.blackcoffee {
	--background: #3b2f2f;
}
body.bulgarianrose {
	--background: #480607;
}
body.castletongreen {
	--background: #00563f;
}
body.maroon {
	--background: maroon;
}
body.bohnsdesign {
	--background: #18131b;
}

a {
	color: inherit;
	text-decoration: none;
}

a:hover {
	opacity: 0.7;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Gloock', serif;
	font-optical-sizing: auto;
	margin: 0;
	font-weight: 400;
}

p {
	margin: 0;
	font-size: 1.25rem;
	line-height: 1.4;
	user-select: all;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

article h2 {
	font-size: 2rem;
	margin: var(--spacer-lg) 0 1rem;
}

article p {
	font-size: 1.25rem;
	line-height: 1.4;
	user-select: all;
	margin: 1rem 0;
}

article li {
	font-size: 1.1rem;
	line-height: 1.4;
	margin: 0.4rem 0;
	list-style-type: '✻';
	padding-left: 1rem;
}

article li::marker {
	color: var(--muted-color);
}

article ul {
	list-style: disc;
	margin: 0 0 1.5rem;
	padding-left: 1.2rem;
}

section {
	display: flex;
	flex-direction: column;
	gap: var(--spacer-lg);
	padding: var(--spacer-lg);
}
section h2 {
	font-family: 'Space Grotesk', sans-serif;
	text-transform: uppercase;
	letter-spacing: 0.2rem;
	font-size: var(--spacer-lg);
	opacity: 0.1;
	font-weight: bold;
}
