body {
    font-family: var(--bohns-ff-body);
    margin: 0;
    padding:0;
    line-height: 1.5;
    background: url('~@/assets/images/bohns-background.svg');
    background-repeat: no-repeat;
    background-size: cover;
}

.cta {
    padding: 1rem 2rem;
    border: 1px solid;
    display: flex;
    margin: 0;
    text-decoration: none;
    background: black;
    color: white;
    line-height: 100%;
  
    &:hover {
      opacity: 50%;
    }
  }