body {
  box-sizing: border-box;
  min-height: 100vh;
  font-family: var(--bohns-ff-body);
  margin: 0;
  padding:0;
  font-size: 18px;
  line-height: 1.5;
  background: url('~@/assets/images/bohns-background.svg') no-repeat, linear-gradient(-45deg, rgba(58, 137, 85, 0.1) 0%, rgba(80, 191, 118, 0.1) 100%);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 3rem;
}

.cta {
  padding: 1rem 2rem;
  border: 1px solid;
  display: flex;
  margin: 0;
  text-decoration: none;
  background: black;
  color: white;
  line-height: 100%;

  &:hover {
    opacity: 50%;
  }
}

a {
  color: var(--bohns-action);
  text-decoration: none;

  &:hover {
    opacity: 0.8;
  }
}