* {
  box-sizing: border-box;
}

body {
  font-family: var(--bohns-font-body);
  margin: 0;
  padding:0;
  font-size: 16px;
  line-height: 1.5;
}

a {
  color: var(--bohns-color-action);
  text-decoration: underline;
  transition: all ease-in-out 0.2s;

  &:hover {
    color: var(--bohns-color-dark);
  }
}
