@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,400;0,700;1,400&family=Homemade+Apple&display=swap');

:root {
    --bohns-font-body: 'Albert Sans', arial, sans-serif;
    --bohns-font-headings: 'Homemade Apple', arial, sans-serif;
    --bohns-font-post: georgia, serif;

    --bohns-color-dark: #1F4037;
    --bohns-color-middle: #555555;
    --bohns-color-action: #3A8955;
    --bohns-color-light: #F3F3F3;
}