:root {
    --bohns-font-body: arial, sans-serif;
    --bohns-font-headings: arial, sans-serif;
    --bohns-font-post: georgia, serif;

    --bohns-color-dark: #222222;
    --bohns-color-middle: #555555;
    --bohns-color-action: #0000FF;
    --bohns-color-light: #F3F3F3;
}